build
coverage
public/world.json
robots.txt
.husky/
.prettierignore
.tool-versions
.gitattributes
.editorconfig
.node-version
.npmrc
*.svg
*.xml
*.ico
*.png
*.sh
*.toml
*.txt
*.mdc
.gitkeep
app/routeTree.gen.ts
.gitignore
_redirects
