/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * apparat:
 *   - http://typekit.com/eulas/00000000000000007735ed00
 *   - http://typekit.com/eulas/00000000000000007735ed01
 *   - http://typekit.com/eulas/00000000000000007735ed09
 *   - http://typekit.com/eulas/00000000000000007735ed12
 *   - http://typekit.com/eulas/00000000000000007735ed14
 * apparat-semicond:
 *   - http://typekit.com/eulas/00000000000000007735ed2e
 *   - http://typekit.com/eulas/00000000000000007735ed32
 *   - http://typekit.com/eulas/00000000000000007735ed39
 *   - http://typekit.com/eulas/00000000000000007735ed3b
 *   - http://typekit.com/eulas/00000000000000007735ed40
 * lft-etica-mono:
 *   - http://typekit.com/eulas/00000000000000007735c99b
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-04-20 05:33:25 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=ifl8enc&ht=tk&f=44166.47749.47752.47753.47759.47761.47794.47796.47800.47802.47805&a=109597199&app=typekit&e=css");

@font-face {
  font-family: "lft-etica-mono";
  src:
    url("https://use.typekit.net/af/9f32eb/00000000000000007735c99b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/9f32eb/00000000000000007735c99b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/9f32eb/00000000000000007735c99b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat";
  src:
    url("https://use.typekit.net/af/1fdfd7/00000000000000007735ed00/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1fdfd7/00000000000000007735ed00/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1fdfd7/00000000000000007735ed00/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3")
      format("opentype");
  font-display: fallback;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat";
  src:
    url("https://use.typekit.net/af/53931d/00000000000000007735ed01/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/53931d/00000000000000007735ed01/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/53931d/00000000000000007735ed01/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat";
  src:
    url("https://use.typekit.net/af/cf4d7b/00000000000000007735ed09/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/cf4d7b/00000000000000007735ed09/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/cf4d7b/00000000000000007735ed09/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat";
  src:
    url("https://use.typekit.net/af/5e2f81/00000000000000007735ed12/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/5e2f81/00000000000000007735ed12/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/5e2f81/00000000000000007735ed12/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat";
  src:
    url("https://use.typekit.net/af/a34ecc/00000000000000007735ed14/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a34ecc/00000000000000007735ed14/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/a34ecc/00000000000000007735ed14/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3")
      format("opentype");
  font-display: fallback;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat-semicond";
  src:
    url("https://use.typekit.net/af/3fc334/00000000000000007735ed2e/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/3fc334/00000000000000007735ed2e/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/3fc334/00000000000000007735ed2e/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3")
      format("opentype");
  font-display: fallback;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat-semicond";
  src:
    url("https://use.typekit.net/af/a958f1/00000000000000007735ed32/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a958f1/00000000000000007735ed32/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/a958f1/00000000000000007735ed32/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat-semicond";
  src:
    url("https://use.typekit.net/af/0030b2/00000000000000007735ed39/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/0030b2/00000000000000007735ed39/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/0030b2/00000000000000007735ed39/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat-semicond";
  src:
    url("https://use.typekit.net/af/293d58/00000000000000007735ed3b/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/293d58/00000000000000007735ed3b/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/293d58/00000000000000007735ed3b/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "apparat-semicond";
  src:
    url("https://use.typekit.net/af/d5c2a9/00000000000000007735ed40/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d5c2a9/00000000000000007735ed40/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d5c2a9/00000000000000007735ed40/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("opentype");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.tk-lft-etica-mono {
  font-family: "lft-etica-mono", sans-serif;
}

.tk-apparat {
  font-family: "apparat", sans-serif;
}

.tk-apparat-semicond-light {
  font-family: "apparat-semicond-light", sans-serif;
}

.tk-apparat-semicond {
  font-family: "apparat-semicond", sans-serif;
}
